@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&family=Rock+Salt&display=swap');

:root {
    --main-font: "Londrina Solid"
}

* {
    margin: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    font-family: var(--main-font);
}

header {
    font-weight: 900;
    width: 100%;
    min-height: 10vh;
    background-color: #52b1f129;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;

}


.button-container {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.welcome-button,
.menu-button,
.contact-button {
    font-family: var(--main-font);
    font-size: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.welcome-button:hover,
.menu-button:hover,
.contact-button:hover {
    color: slateblue;;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #52b1f129;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    }

/* MAIN PAGE STYLING */

.main {
    background-color: #60a5fa;
    background-repeat: repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.main.welcome {
    background-color: #ddeaf7;
    height: 80vh;
}

.welcome-cntr {
    background-color: #ddeaf7;

    width: 30%;
    height: 20%;
    /* border: 1px solid black; */
    border-radius: 90px;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcome-cntr>h2 {
    color:slateblue;
    font-size: 2.5rem;
    font-weight: 900;
}

.welcome-cntr>p {
    font-size: 1.5rem;
}

/* MENU PAGE STYLING */

.main.menu {
    font-size: 1.3rem;
    background-color: #60a5fa;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    height: 80%;
    width: 70%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}


.picture-container {
    width: 175px;
}

.seitan-burger,
.seitan-burger-with-fries,
.seitan-strips,
.party-box {
   height: 175px;
   width: 175px;
   border-radius: 50%;
}

.description-container {
    width: 50%;
}

.picture-container,
.description-container {
    height: 175px;
}

/* CONTACT MAIN PAGE STYLING */

.contact-container {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 80%;
    padding: 40px 0;
    border: 5px solid rgb(232, 234, 243);
    /* background-color: #cffafe; */
    border-radius: 10px;
}


.contact-container>* {
    width: 80%;
}

.list {
    /* margin-left: -5px; */
    margin-top: -20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.list>li {
    position: relative;
    left: -40px;
    display: inline-block;
    list-style-type: none;
    align-self: flex-start;
    width: 100%;
}

